@function gaydients-linear-gradient($colors, $opacity, $degrees, $chunk) {
  $sections: length($colors);
  $solidWidth: 100 / $sections * $chunk;
  $gradientWidth: (100 - ($solidWidth * $sections)) / ($sections - 1);
  $gradientValue: "#{rgba(nth($colors, 1), $opacity)} 0 #{percentage($solidWidth / 100)}";

  @for $i from 2 through ($sections - 1) {
    $gradientValue : $gradientValue + ", #{rgba(nth($colors, $i), $opacity)} #{percentage((($solidWidth * ($i - 1)) + ($gradientWidth * ($i - 1))) / 100)} #{percentage(($solidWidth * $i + ($gradientWidth * ($i - 1))) / 100)}";
  }

  $gradientValue : $gradientValue + ", #{rgba(nth($colors, $sections), $opacity)} #{percentage(($solidWidth * ($sections - 1) + $gradientWidth * ($sections - 1)) / 100) 100%}";

  @return linear-gradient($degrees, unquote($gradientValue));
}

@function gaydient-rainbow($red: $gaydients-rainbow-red, $orange: $gaydients-rainbow-orange, $yellow: $gaydients-rainbow-yellow, $green: $gaydients-rainbow-green, $blue: $gaydients-rainbow-blue, $purple: $gaydients-rainbow-purple, $opacity: $gaydients-rainbow-opacity, $degrees: $gaydients-rainbow-degrees, $chunk: $gaydients-rainbow-chunk) {
  $colors: $red, $orange, $yellow, $green, $blue, $purple;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-trans($blue: $gaydients-trans-blue, $pink: $gaydients-trans-pink, $white: $gaydients-trans-white, $opacity: $gaydients-trans-opacity, $degrees: $gaydients-trans-degrees, $chunk: $gaydients-trans-chunk) {
  $colors: $blue, $pink, $white, $pink, $blue;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-enby($yellow: $gaydients-enby-yellow, $white: $gaydients-enby-white, $purple: $gaydients-enby-purple, $black: $gaydients-enby-black, $opacity: $gaydients-enby-opacity, $degrees: $gaydients-enby-degrees, $chunk: $gaydients-enby-chunk) {
  $colors: $yellow, $white, $purple, $black;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-genderqueer($lavender: $gaydients-genderqueer-lavender, $white: $gaydients-genderqueer-white, $green: $gaydients-genderqueer-green, $opacity: $gaydients-genderqueer-opacity, $degrees: $gaydients-genderqueer-degrees, $chunk: $gaydients-genderqueer-chunk) {
  $colors: $lavender, $white, $green;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-ace($black: $gaydients-ace-black, $grey: $gaydients-ace-grey, $white: $gaydients-ace-white, $purple: $gaydients-ace-purple, $opacity: $gaydients-ace-opacity, $degrees: $gaydients-ace-degrees, $chunk: $gaydients-ace-chunk) {
  $colors: $black, $grey, $white, $purple;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-pansexual($pink: $gaydients-pansexual-pink, $yellow: $gaydients-pansexual-yellow, $blue: $gaydients-pansexual-blue, $opacity: $gaydients-pansexual-opacity, $degrees: $gaydients-pansexual-degrees, $chunk: $gaydients-pansexual-chunk) {
  $colors: $pink, $yellow, $blue;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-aro($green: $gaydients-aro-green, $lightgreen: $gaydients-aro-lightgreen, $white: $gaydients-aro-white, $grey: $gaydients-aro-grey, $black: $gaydients-aro-black, $opacity: $gaydients-aro-opacity, $degrees: $gaydients-aro-degrees, $chunk: $gaydients-aro-chunk) {
  $colors: $green, $lightgreen, $white, $grey, $black;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-agender($black: $gaydients-agender-black, $grey: $gaydients-agender-grey, $white: $gaydients-agender-white, $green: $gaydients-agender-green, $opacity: $gaydients-agender-opacity, $degrees: $gaydients-agender-degrees, $chunk: $gaydients-agender-chunk) {
  $colors: $black, $grey, $white, $green, $white, $grey, $black;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-intersex($yellow: $gaydients-intersex-yellow, $purple: $gaydients-intersex-purple, $opacity: $gaydients-intersex-opacity, $degrees: $gaydients-intersex-degrees, $chunk: $gaydients-intersex-chunk, $flag: $gaydients-intersex-flag) {
  $colors: $yellow, $purple;

  @if($flag) {
    @return radial-gradient(circle,
      rgba($yellow, $opacity) 0 25%,
      rgba($purple, $opacity) 25% percentage(1 / 3),
      rgba($yellow, $opacity) percentage(1 / 3) 100%,
    );
  }

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}

@function gaydient-bisexual($pink: $gaydients-bisexual-pink, $purple: $gaydients-bisexual-purple, $blue: $gaydients-bisexual-blue, $opacity: $gaydients-bisexual-opacity, $degrees: $gaydients-bisexual-degrees, $chunk: $gaydients-bisexual-chunk) {
  $colors: $pink, $pink, $purple, $blue, $blue;

  @return gaydients-linear-gradient($colors, $opacity, $degrees, $chunk);
}
