$gaydients-class-prefix: 'gaydient' !default;

$gaydients-rainbow-red: #ff0018 !default;
$gaydients-rainbow-orange: #ffa52c !default;
$gaydients-rainbow-yellow: #ffff41 !default;
$gaydients-rainbow-green: #008018 !default;
$gaydients-rainbow-blue: #0000f9 !default;
$gaydients-rainbow-purple: #86007d !default;
$gaydients-rainbow-opacity: 1 !default;
$gaydients-rainbow-degrees: 180deg !default;
$gaydients-rainbow-chunk: 1 !default;

$gaydients-trans-blue: #55cdfc !default;
$gaydients-trans-pink: #f7a8b8 !default;
$gaydients-trans-white: #fff !default;
$gaydients-trans-opacity: 1 !default;
$gaydients-trans-degrees: 180deg !default;
$gaydients-trans-chunk: 1 !default;
