$gaydients-class-prefix: 'gaydient' !default;

$gaydients-rainbow-red: #ff0018 !default;
$gaydients-rainbow-orange: #ffa52c !default;
$gaydients-rainbow-yellow: #ffff41 !default;
$gaydients-rainbow-green: #008018 !default;
$gaydients-rainbow-blue: #0000f9 !default;
$gaydients-rainbow-purple: #86007d !default;
$gaydients-rainbow-opacity: 1 !default;
$gaydients-rainbow-degrees: 180deg !default;
$gaydients-rainbow-chunk: 1 !default;

$gaydients-trans-blue: #55cdfc !default;
$gaydients-trans-pink: #f7a8b8 !default;
$gaydients-trans-white: #fff !default;
$gaydients-trans-opacity: 1 !default;
$gaydients-trans-degrees: 180deg !default;
$gaydients-trans-chunk: 1 !default;

$gaydients-enby-yellow: #fff433 !default;
$gaydients-enby-white: #fff !default;
$gaydients-enby-purple: #9b59d0 !default;
$gaydients-enby-black: #000 !default;
$gaydients-enby-opacity: 1 !default;
$gaydients-enby-degrees: 180deg !default;
$gaydients-enby-chunk: 1 !default;

$gaydients-genderqueer-lavender: #b77fdd !default;
$gaydients-genderqueer-white: #fff !default;
$gaydients-genderqueer-green: #48821e !default;
$gaydients-genderqueer-opacity: 1 !default;
$gaydients-genderqueer-degrees: 180deg !default;
$gaydients-genderqueer-chunk: 1 !default;

$gaydients-ace-black: #000 !default;
$gaydients-ace-grey: #a4a4a4 !default;
$gaydients-ace-white: #fff !default;
$gaydients-ace-purple: #810081 !default;
$gaydients-ace-opacity: 1 !default;
$gaydients-ace-degrees: 180deg !default;
$gaydients-ace-chunk: 1 !default;

$gaydients-pansexual-pink: #ff1b8d !default;
$gaydients-pansexual-yellow: #ffda00 !default;
$gaydients-pansexual-blue: #1bb3ff !default;
$gaydients-pansexual-opacity: 1 !default;
$gaydients-pansexual-degrees: 180deg !default;
$gaydients-pansexual-chunk: 1 !default;

$gaydients-aro-green: #3aa63f !default;
$gaydients-aro-lightgreen: #a8d47a !default;
$gaydients-aro-white: #ffffff !default;
$gaydients-aro-grey: #aaaaaa !default;
$gaydients-aro-black: #000000 !default;
$gaydients-aro-opacity: 1 !default;
$gaydients-aro-degrees: 180deg !default;
$gaydients-aro-chunk: 1 !default;

$gaydients-agender-black: #000 !default;
$gaydients-agender-grey: #bababa !default;
$gaydients-agender-white: #fff !default;
$gaydients-agender-green: #baf584 !default;
$gaydients-agender-opacity: 1 !default;
$gaydients-agender-degrees: 180deg !default;
$gaydients-agender-chunk: 1 !default;

$gaydients-intersex-yellow: #ffda00 !default;
$gaydients-intersex-purple: #7a00ac !default;
$gaydients-intersex-opacity: 1 !default;
$gaydients-intersex-degrees: 180deg !default;
$gaydients-intersex-chunk: 1 !default;
$gaydients-intersex-flag: true !default;
